# Игнорируем файлы IDE
.idea/
.vscode/

# Игнорируем временные файлы и кэш
*.pyc
__pycache__/
*.swp
*.swo
*.log
logs/
*.cache
*.egg-info/
*.egg
*.psd
*.tmp
*.bak

# Игнорируем файлы конфигурации
*.yaml
*.yml
*.conf
*.env

# Игнорируем файлы с паролями и ключами
*.key
*.pem
*.ppk
*.password
*.pass

# Игнорируем файлы временных баз данных
*.db
*.sqlite3
